body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./img/background.jpeg);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;

}



footer.footer {
  text-align: center;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}


.green-link{
  color: #008000;
  text-decoration: none;
  padding-bottom: 2px;
}

.blue-link{
  color: ##15C;
  font-size: 16px;
  height: 1.2em;
}

.scroll-img {
    width: 100%;
    height: 40em;
    overflow: scroll;
}

.scroll {
    width: 100%;
    height: 41em;
    overflow: scroll;
}

.center {
    margin: auto;
    width: 98%;
}

.ui.large.form {
    font-size: 1.14285714rem;
    background: rgba(255,255,255, 0.6);
    border-radius: 7px;
  }

  .percentage-size {
    margin-top: 2%;
    height: 5.7em;
    width: 100%;
    padding: 1%;
    border-radius: 5px;
}

.ui.footer.segment {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto !important;
}

.ui.grid>.column:not(.row) {
    padding-top: 1rem;
}


.image-card {
  width: 20%;
  height: auto;
}

.camera {
  width: 100%;
  text-align: center;
}

#content {
  width: 350px;
  height: 250px;
  margin: 5.5%;
}

.capture-position{
  margin-top: 10%
}

.image{
  max-width: 19%;
  height: auto;
}

.form-style{
  text-align: center;
}

.ui.form textarea:not([rows]) {
    height: 20em;
    min-height: 8em;

}

.ui.form input:not([type]){
  margin: 1%;
}

div.gallery {
    margin: 0.5%;
    float: left;
    width: 49%;
}


div.gallery img {
    width: 100%;
    height: auto;
}

  .delete{
  position: absolute;
  color:red;
  }

  .ui.segment-1 {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 0.2em 0.2em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.clearfix {
    overflow: auto;
}

.img-captured {
    float: left;
    padding-right: 2%;
}

.p-search {
    margin-top: 1%;
    padding-left: 2%;
}


element.style {
}
semantic.min.css:91
.ui[class*="left icon"].input>input {
    padding-left: 2.671429em!important;
    padding-right: 7em!important;
    margin: 1%;
}
semantic.min.css:91
.ui.icon.input input {
    padding-right: 2.67142857em!important;
}
semantic.min.css:91
.ui.input input {
    padding: 0.9em 11em;
}
.ui[class*="left icon"].input>input {
    padding-left: 2.671429em!important;
    padding-right: 7em!important;
    margin: 1%;
}

login{
  top: 100px;
}
